In [11]:
import pandas as pd

df = pd.DataFrame({'ChildId':['id1', 'id2', 'id3', 'id4', 'id5'],
                   'Age first contact':[6,12,11,1,19],
                   'Gender':['M','m', 'F', '', 'F' ],
                   'Birthday':['01/01/2002', '02/02/2003', pd.NA, '03/03/2023', '06/01/2012'],
                   'CP Plan?':['Y', 'n', 'N', 'No', 'yES'],})


df['Birthday'] = pd.to_datetime(df['Birthday'], format='%d%m%Y', errors='coerce')

df['Age March 31'] = pd.to_datetime('31/03/2024', dayfirst=True) - df['Birthday']
df['Age March 31'] = df['Age March 31'] / pd.Timedelta('365 days')
df['Age March 31'] = df['Age March 31'].round().astype('int', errors= 'ignore')

df['Age'] = pd.to_datetime('today').normalize() - df['Birthday']
df['Age'] = df['Age'] / pd.Timedelta('365 days')
df['Age'] = df['Age'].round().astype('int', errors='ignore')

print (df)

  ChildId  Age first contact Gender Birthday CP Plan?  Age March 31  Age
0     id1                  6      M      NaT        Y           NaN  NaN
1     id2                 12      m      NaT        n           NaN  NaN
2     id3                 11      F      NaT        N           NaN  NaN
3     id4                  1             NaT       No           NaN  NaN
4     id5                 19      F      NaT      yES           NaN  NaN

In [8]:
df['Age'] = pd.to_datetime('today').normalize() - df['Birthday']
df['Age'] = df['Age'] / pd.Timedelta('365 days')
df['Age'] = df['Age'].round().astype('int', errors='ignore')

print(df)

  ChildId  Age first contact Gender Birthday CP Plan?  Age March 31  Age
0     id1                  6      M      NaT        Y           NaN  NaN
1     id2                 12      m      NaT        n           NaN  NaN
2     id3                 11      F      NaT        N           NaN  NaN
3     id4                  1             NaT       No           NaN  NaN
4     id5                 19      F      NaT      yES           NaN  NaN

In [9]:
cp_cleaner = lambda row: 'y' if 'y' in row else 'n' if 'n' in row else pd.NA

df['CP Plan?'] = df['CP Plan?'].str.lower().apply(cp_cleaner)

df

  ChildId  Age first contact Gender Birthday CP Plan?  Age March 31  Age
0     id1                  6      M      NaT        y           NaN  NaN
1     id2                 12      m      NaT        n           NaN  NaN
2     id3                 11      F      NaT        n           NaN  NaN
3     id4                  1             NaT        n           NaN  NaN
4     id5                 19      F      NaT        y           NaN  NaN