In [6]:
x = 4
y = 4
z = x + y
print(z)

8

In Python, lots of things are done using variables. We can store data in variables in many ways, including individual items of data, lists of data, dictionaries, and dataframes. We can also store more complicated things like classes and operations, we won't worry about the complex things now though. Let's first of all look at how variables can store individual items of data, and some of the quirks of that.

In [7]:
i = 1
j = 4
print(i + j)

5

In [3]:
x = 1
y = 2


z = x + y
print(z)

3

In [4]:
print(x)

1

In [7]:
x = 5
y = 10

num1 = x * y
print(num1)

50

In [8]:
radius = 2
pi = 3.14

radius_sq = radius ** 2
circle_area = radius_sq * pi
print(circle_area)

12.56

In [10]:
name = "Declan"
job = "Information Analyst"

phrase = f"My name is {name}, and my job title is an {job}."
print(phrase)

My name is Declan, and my job title is an Information Analyst.

In [19]:
slice_this_phrase = "dog cat racoon"

animal_1 = slice_this_phrase[:4]
print(animal_1)

animal_2 = slice_this_phrase[4:7]
print(animal_2)

animal_3 = slice_this_phrase[-6:]
print(animal_3)

dog
cat
racoon

In [2]:
food_dict = {'KFC':'Chicken',
             'McDonalds':[burgers, chips],
             'Burger king':burgers}


print(food_dict)

NameError: name 'burgers' is not defined

In [6]:
restaurants = {'McDonalds': 'Burger',
               'KFC':['Chicken wing', 'Chicken burger', 'Mash with gravy'],
               'Local Hotel':{'Weekdays':'Gastro pub food',
                              'Weekends':'High tea'}}

mcdo_food = restaurants['McDonalds']
print(mcdo_food)
restaurants['Kebab shop'] = 'Kebabs'

print (restaurants)

Burger
{'McDonalds': 'Burger', 'KFC': ['Chicken wing', 'Chicken burger', 'Mash with gravy'], 'Local Hotel': {'Weekdays': 'Gastro pub food', 'Weekends': 'High tea'}, 'Kebab shop': 'Kebabs'}

In [7]:
print(restaurants.keys())
print(restaurants.values())

print(restaurants.items())

print('McDonalds' in restaurants)

dict_keys(['McDonalds', 'KFC', 'Local Hotel', 'Kebab shop'])
dict_values(['Burger', ['Chicken wing', 'Chicken burger', 'Mash with gravy'], {'Weekdays': 'Gastro pub food', 'Weekends': 'High tea'}, 'Kebabs'])
dict_items([('McDonalds', 'Burger'), ('KFC', ['Chicken wing', 'Chicken burger', 'Mash with gravy']), ('Local Hotel', {'Weekdays': 'Gastro pub food', 'Weekends': 'High tea'}), ('Kebab shop', 'Kebabs')])
True

In [8]:
import pandas as pd

filepath = 'https://raw.githubusercontent.com/data-to-insight/csc-validator-be-903/main/tests/fake_data/header.csv'

header_fake = pd.read_csv(filepath)
# read an excel file pd.read_excel(<filepath>)

In [15]:
# dict of lists 
d_1 = {'col1':[1, 2, 3],
       'col2':['A', 'B', 'C'],
       'col3':['foo', 'bar', 'baz']}


df_1 = pd.DataFrame(d_1)
print(df_1)

#list of dicts 
df_2 = pd.DataFrame([
    {'column1':1,
     'column2': 'A',
     'column3':'foo'},
     {'column1':2,
      'column2':'B',
      'column3':'bar'},
      {'column1':3,
       'column2':'C',
       'column3':'baz'}
    ])


print(df_2)


staff = pd.DataFrame([
{'Name':'Declan',
 'Salary':'30',
 'Job Title':'Information Analyst'},
 {'Name':'James',
 'Salary':'20',
 'Job Title':'Information Analyst'},
 {'Name':'Paul',
 'Salary':'10',
 'Job Title':'Information Analyst'},

 ])

print(staff)

   col1 col2 col3
0     1    A  foo
1     2    B  bar
2     3    C  baz
   column1 column2 column3
0        1       A     foo
1        2       B     bar
2        3       C     baz
     Name Salary            Job Title
0  Declan     30  Information Analyst
1   James     20  Information Analyst
2    Paul     10  Information Analyst

In [16]:
staff = pd.DataFrame([
{'Name':'Declan',
 'Salary':'30',
 'Job Title':'Information Analyst'},
 {'Name':'James',
 'Salary':'20',
 'Job Title':'Information Analyst'},
 {'Name':'Paul',
 'Salary':'10',
 'Job Title':'Information Analyst'},

 ])

print(staff)

     Name Salary            Job Title
0  Declan     30  Information Analyst
1   James     20  Information Analyst
2    Paul     10  Information Analyst

In [17]:
print(staff.info())

print(staff.head(1))

print(staff['Salary'])

print(staff[['Name', 'Job Title']])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       3 non-null      object
 1   Salary     3 non-null      object
 2   Job Title  3 non-null      object
dtypes: object(3)
memory usage: 200.0+ bytes
None
     Name Salary            Job Title
0  Declan     30  Information Analyst
0    30
1    20
2    10
Name: Salary, dtype: object
     Name            Job Title
0  Declan  Information Analyst
1   James  Information Analyst
2    Paul  Information Analyst

In [18]:
staff['Salary'] = staff['Salary'].astype('int')
print(staff['Salary'].dtypes)

mean_salary = staff['Salary'].mean()
sum_salary = staff['Salary'].sum()
max_salary = staff['Salary'].max()
min_salary = staff['Salary'].min()

print(f'The mean salary is: {mean_salary}.')
print(f"The total of salaries is: {sum_salary}")
print(f'The max and min salaries respectively are {max_salary}, {min_salary}.')

int64
The mean salary is: 20.0.
The total of salaries is: 60
The max and min salaries respectively are 30, 10.