In [2]:
import pandas as pd

filename_1 = 'https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildCharacteristics.csv'
filename_2 = 'https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv'

filepaths = [filename_1, filename_2]

In [3]:
df = pd.DataFrame({'ChildId':['id1', 'id2', 'id3', 'id4', 'id5'],
                   'Age first contact':[6,12,11,1,19],
                   'Gender':['M','m', 'F', '', 'F' ],
                   'Birthday':['01/01/2002', '02/02/2003', pd.NA, '03/03/2023', '06/01/2012'],
                   'Age':[5,12,11,6,2],
                   'CP Plan?':['Y', 'n', 'N', 'No', 'yES'],})
df['Birthday'] = pd.to_datetime(df['Birthday'], dayfirst=True)
df

  ChildId  Age first contact Gender   Birthday  Age CP Plan?
0     id1                  6      M 2002-01-01    5        Y
1     id2                 12      m 2003-02-02   12        n
2     id3                 11      F        NaT   11        N
3     id4                  1        2023-03-03    6       No
4     id5                 19      F 2012-01-06    2      yES

In [6]:
condition = df['Age'] >= 10

print(condition)

over_10 = df[condition].copy()

print(over_10)

0    False
1     True
2     True
3    False
4    False
Name: Age, dtype: bool
  ChildId  Age first contact Gender   Birthday  Age CP Plan?
1     id2                 12      m 2003-02-02   12        n
2     id3                 11      F        NaT   11        N

In [8]:
# new df slice with only rows where the age of first contact column is greater than 9


new_condition = df['Age first contact'] >= 9 

contact_after_9 = df[new_condition]

print(contact_after_9)

  ChildId  Age first contact Gender   Birthday  Age CP Plan?
1     id2                 12      m 2003-02-02   12        n
2     id3                 11      F        NaT   11        N
4     id5                 19      F 2012-01-06    2      yES

In [10]:
error_rows = df[df['Age first contact'] > df['Age']]
print(error_rows)

  ChildId  Age first contact Gender   Birthday  Age CP Plan?
0     id1                  6      M 2002-01-01    5        Y
4     id5                 19      F 2012-01-06    2      yES

In [ ]:
> # greater than
< # less than
== # equals 
& # and
~ # not
>=/<= # greater equals/less equals

In [11]:
print(((1 > 2) & (2 == 2))) # false, because 1 is not greater than 2 and both need to be true
print(((1 > 2) | (2 == 2))) # True because at least one of the components is true,
                            # even though 1 is not greater than 2
print(((3 > 2) | (2 == 2))) # Still true, as at least one is true
print(((3 > 2) & (2 == 2))) # Only strue because both are true

# In this cell, writet a logical test that fails an and condition,
# but passes an or condition, and print both

#isna/notna
# .str.contains
# isin

na_condition = df['Birthday'].notna()

print(df[na_condition])

False
True
True
True

In [12]:
na_condition = df['Birthday'].notna()

print(df[na_condition])

  ChildId  Age first contact Gender   Birthday  Age CP Plan?
0     id1                  6      M 2002-01-01    5        Y
1     id2                 12      m 2003-02-02   12        n
3     id4                  1        2023-03-03    6       No
4     id5                 19      F 2012-01-06    2      yES

In [13]:
isna_condition = (df['Birthday'].isna()) & (df['Age'] > 9)
print(df[isna_condition])

notna_condition = (df['Birthday'].notna()) & (df['Age'] > 9)
print(df[notna_condition])

str_condition = df['CP Plan?'].str.lower().str.contains('y', 'n')
print(df[str_condition])

  ChildId  Age first contact Gender Birthday  Age CP Plan?
2     id3                 11      F      NaT   11        N
  ChildId  Age first contact Gender   Birthday  Age CP Plan?
1     id2                 12      m 2003-02-02   12        n
  ChildId  Age first contact Gender   Birthday  Age CP Plan?
0     id1                  6      M 2002-01-01    5        Y
4     id5                 19      F 2012-01-06    2      yES

In [16]:
condition = df['CP Plan?'].str.lower().str.contains('n') & (df['Gender'].str.lower() == 'm')

print(df[condition])

  ChildId  Age first contact Gender   Birthday  Age CP Plan?
1     id2                 12      m 2003-02-02   12        n

In [18]:
#slice the df where the age is 6 or 9 (either with two ==s phrases in one bracker OR a single .isin()),
#and CP plan? is 'Y'


condition = df['Age'].isin([6,9]) & (df['CP Plan?'] == 'Y')

print(df[condition])

Empty DataFrame
Columns: [ChildId, Age first contact, Gender, Birthday, Age, CP Plan?]
Index: []

In [20]:
numbers  = list(range(1,11))
print(numbers)

for i in numbers:
    if i == 1:
        print('The number was 1')

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
The number was 1

In [21]:
numbers  = list(range(1,11))

for i in numbers:
    if i % 2 == 0:
        print('The number is even')
    elif i == 9:
        print('The number was 9 ')
    else:
        print('The number was odd, and not 9')

The number was odd, and not 9
The number is even
The number was odd, and not 9
The number is even
The number was odd, and not 9
The number is even
The number was odd, and not 9
The number is even
The number was 9
The number is even

In [24]:
numbers_new  = list(range(1,101))

for i in numbers_new:
    if (i % 3 == 0) & (i % 5 == 0):
        print('fizzbang')
    elif i % 3 == 0:
        print('fizz')
    elif i % 5 == 0:
        print('bang')
    else:
        print(i)

1
2
fizz
4
bang
fizz
7
8
fizz
bang
11
fizz
13
14
fizzbang
16
17
fizz
19
bang
fizz
22
23
fizz
bang
26
fizz
28
29
fizzbang
31
32
fizz
34
bang
fizz
37
38
fizz
bang
41
fizz
43
44
fizzbang
46
47
fizz
49
bang
fizz
52
53
fizz
bang
56
fizz
58
59
fizzbang
61
62
fizz
64
bang
fizz
67
68
fizz
bang
71
fizz
73
74
fizzbang
76
77
fizz
79
bang
fizz
82
83
fizz
bang
86
fizz
88
89
fizzbang
91
92
fizz
94
bang
fizz
97
98
fizz
bang